<footer id="footer">
  <div class="container">
    <div class="row footer_nav_wrapper">
      <div class="col-md-9 col-sm-12">
        <ul class="footer_nav">
          <li class="list_col">
            <ul class="nopad">
              <li class="nopad">
                <ul class="pad first top">
                  <li>
                    <%= link_to "Puppies", puppies_path %>
                  </li>
                  <li>
                    <%= link_to "Training", training_path %>
                  </li>
                  <li>
                    <%= link_to "Our Dogs", our_dogs_path %>
                  </li>
                  <li>
                    <%= link_to "Kennel", kennel_path %>
                  </li>
                </ul>
              </li>
              <li class="list_col">
                <ul class="pad second">
                  <li>
                    <%= link_to "The Boys", boy_dogs_path %>
                  </li>
                  <li>
                    <%= link_to "The Girls", dogs_path %>
                  </li>
                  <li>
                    <%= link_to "Retriever", retriever_path %>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="list_col">
            <ul class="nopad">
              <li class="nopad">
                <ul class="pad first last">
                  <li>
                    <%= link_to "Obedience", obedience_path %>
                  </li>
                  <li>
                    <%= link_to "About", about_path %>
                  </li>
                  <li>
                    <%= link_to "Careers", careers_path %>
                  </li>
                </ul>
              </li>
              <li class="list_col">
                <ul class="pad second last">

                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 footer_corporate">
        <p class="copyright">&copy; <%= Date.current.year %> Weller Kennels, Inc. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
